SP.DYN.TO65.FE.ZS
SP.POP.DPND
SP.POP.65UP.TO.ZS
SP.DYN.CDRT.IN
AG.LND.TOTL.K2
SP.POP.TOTL
SP.RUR.TOTL
SP.POP.DPND.OL
SP.DYN.CBRT.IN
SP.URB.GROW
SP.DYN.LE00.IN
SP.URB.TOTL.IN.ZS
ER.FSH.CAPT.MT
SP.URB.TOTL
SP.DYN.TFRT.IN
EN.POP.DNST
SP.DYN.LE00.MA.IN
SP.ADO.TFRT
SP.POP.0014.TO.ZS
SP.RUR.TOTL.ZG
SP.RUR.TOTL.ZS
SP.POP.TOTL.FE.ZS
SP.POP.1564.TO.ZS
SP.DYN.LE00.FE.IN
AG.SRF.TOTL.K2
ER.FSH.PROD.MT
SP.DYN.TO65.MA.ZS
SP.POP.DPND.YG
SP.POP.GROW
